*{
 margin: 0;
}
body{
    background-color: black;
     color: white;
     font-size: 30px;
}
table{
    background-color: rgb(14, 14, 14);
    margin-left:35%;
    border-radius: 25px;
    text-align: center;
    
}


.san{
    background-color: rgb(61, 61, 61);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 5px;
}

.san0{
    background-color: rgb(61, 61, 61);
    border-radius: 60px;
    width: 80px;
    height: 80px;

}

.element{
    background-color: rgb(134, 134, 134);
    border-radius: 60px;
    width: 80px;
    height: 80px;
}
.ten{
    background-color: rgb(199, 136, 0);
    border-radius: 60px;
    width: 80px;
    height: 80px;
}
#row{
    height: 100px;
    background-color: rgb(14, 14, 14);
    border-radius: 25px;
}